In [28]:
str1 = 'hoge'
print(str1)
print(type(str1))

hoge
<class 'str'>

In [29]:
num1 = 2
print(num1)
print(type(num1))

2
<class 'int'>

In [30]:
num2 = 3.4
print(num2)
print(type(num2))

3.4
<class 'float'>

In [31]:
# int + float
print(num1 + num2)
# int - float
print(num1 - num2)
# int * float
print(num1 * num2)
# int / float
print(num1 / num2)

5.4
-1.4
6.8
0.5882352941176471

In [35]:
# str * float - TypeError
print(str1 * num2)

TypeError: can't multiply sequence by non-int of type 'float'

In [36]:
# floatの掛け算は失敗するが、intはOK。繰り返す。
print(str1 * num1)

hogehoge